@charset "utf-8";

.slides{width: 100%; margin: 0 auto;}
.slides .inner-wrap{width: 1180px; height: 100%; margin: 0 auto;}

#slide1{background: url(../images/main_bg1.jpg) no-repeat center center; width: 100%; height: 500px; display: block;}
#slide1 .txt-wrap{padding-top: 90px; padding-left: 120px;}
#slide1 .txt-wrap .sub-tit{font-size: 18px; font-weight: 700; line-height: 36px; letter-spacing: -0.075rem; color: #fff; padding-left: 90px; background: url(../images/main-bg1-icon.png) no-repeat left center; position: relative;}
#slide1 .txt-wrap .sub-tit:after{content: ""; display: block; width: 230px; height: 4px; background-color: rgba(255, 255, 255, 0.71); position: absolute; left: -3px; bottom: -10px;}
#slide1 .txt-wrap .top-tit{margin-top: 60px;}
#slide1 .txt-wrap .main-tit{display:inline-block; padding-top: 19px; padding-bottom: 30px;}

#slide2{background: url(../images/main_bg2.jpg) no-repeat center center; height: 500px; /*display: none;*/}
#slide2 .txt-wrap{text-align: center;}
#slide2 .txt-wrap .txt-top{background: url(../images/main-bg2-square.png) no-repeat center center; display: inline-block; width: 365px; height: 425px; position: relative;}
#slide2 .txt-wrap .txt-top .tit{padding-top: 125px; padding-bottom: 45px;}
#slide2 .txt-wrap .txt-top .tit:before{content: ""; display: block; width: 41px; height: 4px; background-color: #fff; position: absolute; left: 50%; top: 187px; transform: translateX(-50%);}
#slide2 .txt-wrap .txt-top .txt{font-size: 18px; line-height: 30px; text-align: center;}
.sec{width: 100%; margin: 0 auto;}
.sec .inner-wrap{padding-top: 110px; box-sizing: border-box; margin: 0 auto;}
.sec .inner-wrap .tit{font-size: 40px; text-align: center; margin-bottom: 73px;}
.sec .inner-wrap .txt{font-size: 18px; text-align: center; margin-bottom: 30px;}
.sec .inner-wrap .tit .color{color: #f59700;}

#sec-1 .inner-wrap{height: 735px; background: url(../images/brandstory-bg_pattern.jpg) no-repeat center center;}
#sec-1 .brandstory-box{text-align: center; padding-left: 122px;}
#sec-1:before{content: ""; display: block; clear: both;}
#sec-1 .brandstory-box li{float: left; padding-right: 66px;}
#sec-1 .brandstory-box li .text-box{font-size: 18px; line-height: 24px; letter-spacing: -0.075rem; padding-top: 17px;}

#sec-2{background-color: #ffe572; width: 100%;}
#sec-2 .inner-wrap{ padding-top: 40px;}
#sec-2 .inner-wrap .tit{ margin-bottom: 30px;}
#sec-2 .menu-box{padding-left: 10px; padding-right: 10px;}
#sec-2 .menu-box:after{content: ""; display: block; clear: both;}
#sec-2 .menu-box li{float: left;}
#sec-2 .menu-control span a{display: block; width: 25px; height: 42px; text-indent: -9999px;}
#sec-2 .menu-control #menu-prev{position: absolute; left: -20px; top: 50%; transform: translateY(-50%);}
#sec-2 .menu-control #menu-prev a{background: url(../images/controls2.png) no-repeat 0 -120px;}
#sec-2 .menu-control #menu-next{position: absolute; right: -20px; top: 50%; transform: translateY(-50%);}
#sec-2 .menu-control #menu-next a{background: url(../images/controls2.png) no-repeat -40px -120px;}
#sec-2 .slide1{position: relative;}
#sec-2 .slide1 .icon{position: absolute; left: 90px; top: 315px;}
#sec-2 .slides{text-align: center;}
#sec-2 .slides .img-box{display: inline-block; width: 324px; height: 324px; background: url(../images/menu_slice-bg.png) no-repeat center center; position: relative;}
#sec-2 .slides .img-box:hover:before{display: block;}
#sec-2 .slides .img-box:before{content: ""; display: block; width: 93%; height: 93%; border-radius: 50%; background-color: rgb(25, 25, 25, 0.7);background-image: url(../images/menu-hover_icon.png); background-repeat: no-repeat; background-position: center center; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 20; display: none;}
#sec-2 .slides .img-box img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#sec-2 .slides .tit-box{font-size: 20px; letter-spacing: -0.075rem; padding-top: 15px; padding-bottom: 20px;}
#sec-2 .slides .txt-box{color: #505050; padding-bottom: 50px;}

#sec-3 .inner-wrap{height: 600px; padding-top: 130px;}
#sec-3 .success-box{height: 340px; background: url(../images/success_story-bg.png) no-repeat center center; position: relative;}
#sec-3 .success-box .left-box{display: inline-block; width: 420px; padding-top: 45px; padding-left: 65px; letter-spacing: -0.075rem; position: relative;}
#sec-3 .success-box .left-box .tit-box{font-size: 30px;}
#sec-3 .success-box .left-box .txt-box{font-size: 20px; text-align: center; position: absolute; left: 65px; top: 130px;}
#sec-3 .success-box .left-box .button-box{position: absolute; left: 
    25%; top: 225px;}
#sec-3 .success-box .left-box .button-box .suc-bt{background: rgb(232, 217, 205); padding: 15px 50px; border: 1px solid #e2e2e2; border-radius: 13px; box-sizing: border-box; font-size: 18px; letter-spacing: .5px; color: #191919;}
#sec-3 .success-box .left-box .button-box:hover .suc-bt{border: 2px solid rgb(195, 146, 104);}
#sec-3 .success-box .img-box{display: inline-block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#sec-3 .success-box .img-box img{width:285px; height: 285px;  border: 7px solid rgb(191, 150, 115); border-radius: 50%;  color: rgba(191, 150, 115, 0.82);}

#sec-3 .success-box .right-box{display: inline-block; letter-spacing: -0.075rem; position: absolute; right: 104px; top: 65px; }
#sec-3 .success-box .right-box .tit-box{font-size: 20px;}
#sec-3 .success-box .right-box .txt-box{text-align: center; padding-top: 40px;}
#sec-3 .success-box .right-box .more-box{font-weight: 700; padding-top: 50px;}
#sec-3 .success-box .right-box .more-box a{display: inline-block;}

#sec-4 {background-color: #ffe572; width: 100%;}
#sec-4 .inner-wrap{padding-top: 65px; padding-bottom: 65px;}
#sec-4 .inner-wrap:after{content: ""; display: block; clear: both;}
#sec-4 .col-news{width: 585px; height: 300px; background-color: #fff; padding-left: 45px; box-sizing: border-box; float: left;  position: relative;}
#sec-4 .col-news h2{font-size: 36px; padding: 30px 0 35px 0;}
#sec-4 .col-news li:after{content: ""; display: block; clear: both;}
#sec-4 .col-news li a{display: inline-block; color: #505050; line-height: 36px;}
#sec-4 .col-news li:hover a{color: #191919; font-weight: bold;}
#sec-4 .col-news li:hover .date{color: #191919; font-weight: bold;}
#sec-4 .col-news li .date{float: right; padding-right: 71px;}
#sec-4 .col-news .more{position: absolute; right: 40px; top: 30px;}
#sec-4 .col-event{float: right;}
#sec-4 .col-event .banner a{display: block;}

#sec-5 .inner-wrap{padding-bottom: 135px;}
#sec-5 .inner-wrap .tit{margin-bottom: 20px;}
#sec-5 .inner-wrap .tit .gradient{/*글자그라디언트 하는 방법*/ color: rgba(172, 66, 250, 0.76); font-weight: 700;}
#sec-5 .instagram-box{}
#sec-5 .instagram-box:after{content: "";display: block;clear: both;}
#sec-5 .instagram-box li{float: left;}
#sec-5 .instagram-box li+li{margin-left: 10px;}
#sec-5 .instagram-box li .img-box{position: relative;}
#sec-5 .instagram-box li .img-box:before{content: ""; display: block; background-color: rgba(245, 151, 0, 0.7); width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: 0;}
#sec-5 .instagram-box li .img-box:hover:before{opacity: 1;}
#sec-5 .instagram-box li .box:hover .img-box{opacity: 1;}
#sec-5 .instagram-box li .icon-box{position: absolute; left: 50%; top: 70px; transform: translateX(-50%); opacity: 0;}
#sec-5 .instagram-box li .img-box:hover .icon-box{opacity: 1;}
#sec-5 .instagram-box li .txt-box{width: 100%; color:#fff; line-height: 24px; letter-spacing: -0.075rem; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); opacity: 0;}
#sec-5 .instagram-box li .img-box:hover .txt-box{opacity: 1; cursor: pointer;}
#sec-5 .instagram-box li .insta-link a{display: block;}
#sec-5 .instagram-box li .insta-link a {position: absolute; right: 30px; bottom: 20px; opacity: 0;}
#sec-5 .instagram-box li .img-box:hover .insta-link a{opacity: 1;}


.main-slider-container .bx-wrapper img {display: inline-block;}
.main-slider-container .bx-wrapper{margin-bottom: 0; box-shadow: 0 0 0 transparent; border: 0;}
.main-slider-container .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{width: auto;}
.main-slider-container .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right: 30px;}
.main-slider-container .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{bottom: 30px;}
.main-slider-container .bx-wrapper .bx-controls-auto .bx-start{background: url(../images/controls2.png) -80px -11px no-repeat;}
.main-slider-container .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover{background-position: -80px 0;}
.main-slider-container .bx-wrapper .bx-controls-auto .bx-stop{background: url(../images/controls2.png) -80px -44px no-repeat;}
.main-slider-container .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {background-position: -80px -33px;}
.main-slider-container .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{display: none;} 
.main-slider-container .bx-wrapper .bx-controls-direction a{width: 35px; height: 60px; margin-top: -30px; z-index: 50;}
.main-slider-container .bx-wrapper .bx-prev {background: url(../images/controls2.png) 0 0 no-repeat;}
.main-slider-container .bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover{background-position: 0px -60px;}
.main-slider-container .bx-wrapper .bx-next{background: url(../images/controls2.png) -40px 0 no-repeat;}
.main-slider-container .bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover{background-position: -40px -60px;}

.menu-slider-wrapper .bx-wrapper{box-shadow: 0 0 0 transparent; border: none; background: none; margin-bottom: 0;}
.main-slider-container .bx-wrapper .bx-controls-auto, .menu-slider-wrapper .bx-wrapper .bx-pager{bottom: 15px;}
.menu-slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a{background: #fff;}
.menu-slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active, .menu-slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a:focus, .menu-slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover{background: #bfc7c5;}
