@charset "UTF-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: 'Spoqa Han Sans', '맑은 고딕', 'Malgun Gothic', 'Sans-serif'; font-size: 16px; line-height: 1.5; color: #333;}

body,h1,h2,h3,h4,h5,h6,p,ul,li,figure,figcaption{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: 1em; line-height: 1em; font-weight: normal;}
ul{list-style: none;}
address{font-style: normal;}
img{vertical-align: middle;}
a{text-decoration: none; color: #333;}
em{font-style: normal;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
